:root{
  --cor_borda : black; 
  --base_url: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/204.png);
}
#main {
  width: 1000px;
  height: 500px;
  border: 1px solid #c3c3c3;  
}
.center{
  display: flex;
  flex-wrap: wrap;
  align-content: center;  
  justify-content: center;
  margin: auto;  
}
.pokecardBackground{
  width: 300px;
  height: 300px;  
  margin: 5px;
  border-style: solid;
  border-color: silver;
  border-width: 2px;  
  /*border-radius: 5px 115px 5px 115px;   */
  display: flex;
  align-items: flex-start;
  background: rgb(182, 151, 66);
  background: radial-gradient(circle, rgba(158,119,10,1) 0%, rgba(255,250,45,1) 100%);
}
.pokecard{
  width: 95%;
  height: 95%;   
  margin: auto;
  border-style: solid;
  border-color: silver;
  border-width: 1px;
  /*border-radius: 55px 115px 55px 115px; */
  align-self: center;  
  background: rgb(242,245,241);
  background: radial-gradient(circle, rgba(150,255,200,1) 0%, rgba(225,175,225,1) 100%);
}
/* .pokecardHeader{  
  background-color : clear; 
} */
.pokecardName{
  position: relative;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,239,239,1) 100%);
  border-style: solid;
  border-color: silver;  
  border-radius: 15px 15px 15px 15px; 
  width: 70%;
  height: 12%;
  margin: auto;  
  padding: 1px;
}
.pokecardName p{
  vertical-align: middle;
  text-align: center;
  color: gray; 
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration-line: overline underline;
  text-decoration-style: wavy;
  text-decoration-color: gold;
  text-shadow: 2px 2px 5px gold;
  margin-top: 5px; 
}
#pokecardImage{
  height: 55%;
  /*--background-color : green;*/   
}
/*#cardFooter{  
  background-color : blue;  
}*/
.pokecardFooter p{
 margin: auto;
 align-content: center;
}
#pokecardImage .lateral{  
  /*--border-style: solid;
  --border-width: 1px;*/
  width: 15%; 
  height: 100%;  
}
#pokecardImage .centro{  
  /*--border-style: solid;
  --border-width: 1px;*/
  width: 70%; 
  height: 100%;  
}
.pokecardHeader, .pokecardName, .pokecardFooter{
  height: 15%;   
}

.pokeSprite{  
  height: 100%;
  width: 100%;
}
.top_left {
  float: right;
  text-align: center;  
  margin-left: 20px;
  margin-top: 5px;
}
.top_right {
  float: right;
  margin-right: 5px;
  margin-top: -5px;
}
.bottom_left {
  float: left;
  margin-left: 5px;
  margin-bottom: -5px;
}
.bottom_right {
  float: right;
  margin-right: 5px;
  margin-bottom: -5px;
}
.type {
  border-style: solid;
  border-color: silver; 
  border-width: 2px;
  border-radius: 75px;
  width: 20%;
  height: 30%;  
  padding: 5px;
  margin-left: 10px;
  position: relative;
}

.normal { background-color: Beige;}
.fighting { background-color: SandyBrown;}
.flying { background-color: Azure;}
.poison { background-color: DarkOrchid;}
.ground { background-color: BurlyWood;}
.rock { background-color: SaddleBrown;}
.bug { background-color: YellowGreen;}
.ghost { background-color: MediumSlateBlue;}
.steel { background-color: Silver;}
.fire { background-color: OrangeRed;}
.water { 
  background: rgb(24,80,246);
  background: radial-gradient(circle, rgba(24,80,246,1) 0%, rgba(45,236,255,1) 100%);  
}
.grass { 
  background-color: Green;
  background: rgb(40,129,17);
  background: radial-gradient(circle, rgba(40,129,17,1) 0%, rgba(12,244,50,1) 100%);
}
.electric { background-color: Yellow;}
.psychic { background-color: Violet;}
.ice { background-color: PowderBlue;}
.dragon { background-color: DarkMagenta;}
.dark { background-color: DarkSlateGray;}
.fairy { background-color: Plum;}

.type p{   
  vertical-align: middle;
  text-align: center;
  color: white;  
  letter-spacing: 2px; 
  margin: -2px;
}
.inline div{display: inline;}
div.block {display: block;}
div.flex {display: flex; flex-wrap: wrap;}
div.in_block {display: inline-block;}

.type:hover {
  position: relative;
    
}
.type:hover:after {
  content: var(--base_url); 
  display: block;
  position: absolute;
     
}